<div class="container">

	<div class="row description_admin">
		<div class="block_description">
			<h2><span>mc</span>organizer</h2>
			<p>Modifiez les enseignements</p>
		</div>
	</div>


	<div class="row admin_annees">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col_responsable">
			<a href="#/admin/imac1">
				<div class="block_responsable">
					<h5><span>m</span>odifier l'année 1</h5>
				</div>
			</a>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col_responsable">
			<a href="#/admin/imac2">
				<div class="block_responsable">
					<h5><span>m</span>odifier l'année 2</h5>
				</div>
			</a>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col_responsable">
			<a href="#/admin/imac3">
				<div class="block_responsable">
					<h5><span>m</span>odifier l'année 3</h5>
				</div>
			</a>
		</div>
	</div>
</div>

