<div class="container">

	<div class="row description_appli">
		<div class="block_description">
			<h2><span>mc</span>organizer</h2>
			<p>L'interface des cours IMAC</p>
		</div>
	</div>


	<div class="row responsables_annees">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col_responsable">
			<div class="block_responsable">
				<h5>Responsable année 1</h5>
				<p>{{imac1.year._RA}}</p>
			</div>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col_responsable">
			<div class="block_responsable">
				<h5>Responsable année 2</h5>
				<p>{{imac2.year._RA}}</p>
			</div>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col_responsable">
			<div class="block_responsable">
				<h5>Responsable année 3</h5>
				<p>{{imac3.year._RA}}</p>
			</div>
		</div>
	</div>
</div>
